*
.container_header {
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.container_header div {
    color: #FFFFFF;
    padding: 10px;
}
.container_header img {
    padding: 10px;
}
body {
 margin: 0px;
 padding: 0px;
}
#banner {
    background-image: url(../Images/Img3\ -\ Titular.jpg);
    width: auto;
    height: 550px;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.background_div {
    filter: brightness(1.0);
}
#content_1 {
    color: #FFFFFF;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
    filter:brightness(1);
}
#content_2 {
    color: #ff9ad5;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}
#content_3 {
    color: #ff9ad5;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000000;
}
#content_4 {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    width: 600px;
    margin-left: 129px;
    margin-right: 129px;
}
#content_5 {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 22px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000000;
    text-align: center;
    width: 500px;
    margin-left: 179px;
    margin-right: 179px;
    margin-top: 40px;
}
.background_container {
    display: flex;
    justify-content: space-between;
    height: auto;
}
.box_1 {
    flex: 1;
    margin-top: 30px;
    height: 500px;
    border: 1px solid #000000;
}
.box_2 {
    flex: 1;
    border: 1px solid #FFFFFF;
    margin-top: -100px;
}
.box_3 {
    flex: 1;
    margin-top: 30px;
    height: 500px;
    border: 1px solid #000000;
}
.contentbox_1 {
    display: flex;
    text-align: justify;
    font-size: 15px;
    margin-left: 90px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
    border: 1px solid #000000;
}
.contentbox_1 img {
    width: 60px;
    height: 60px;
    margin: 20px;
    margin-top: 0px;
    border: 1px solid #000000;
}






























.contentbox_3 {
    display: flex;
    text-align: justify;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 90px;
    margin-bottom: 40px;
    margin-top: 10px;
    border: 1px solid #000000;
}
.contentbox_3 img {
    width: 60px;
    height: 60px;
    margin: 20px;
    margin-top: 0px;
    border: 1px solid #000000;
}